

  <% content_for(:title) { "All users" } %>

      <table>
        <thead>
          <tr>
            <td> id </td>
            <td> 姓名 </td>
            <td> email </td>
            <td> role </td>
          </tr>
        </thead>

        <% @users.each do |user| %>

        <tbody>  
          <tr>
            <td> <%= user.id %></td>
            <td> <%= user.name %> </td>
            <td> <%= user.email %> </td>
            <td> <%= user.role %> </td>
            <td> 
              <%= link_to "編輯", edit_user_path(user) %> 
              <%= link_to "刪除", user_path(user), data: { turbo_method: :delete, turbo_confirm: 'are you sure?'}%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      
      <%= link_to "任務頁面", "/tasks" %>
      <%= link_to "新增使用者", new_user_path(@user) %>
