<%# tasks 專用的layout %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "tasks" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# 可以更改標頭  %>
    <h1><%= yield :title %></h1>

    <%# flash notifactions  %>
    <% flash.each do |type, msg| %>
      <div class="flash flash-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <br>
    <%# 其他erb撰寫是時會填入這裡  %>
    <%= yield %>

  </body>
</html>
